@model Product;


<div class="modal fade" id="addProduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="Delete" method="post">
                 <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="modal-header">
                    <h4 class="modal-title" id="addProductLabel">Last warning</h4>
                    <button type="button" class="btn-close" data-dismiss="modal"
                                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                   Are you sure? Delete @Model.Name?

                </div>
                <div class="modal-footer">
                
                    <button type="submit" class="btn btn-danger" data-save="modal">Delete</button>

                    <button type="button" class="btn btn-primary " data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>